footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    margin-top: auto;
    padding-top: 10px;
    color: #fff;
}


.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.clique {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}