<nav class="green accent-4">
  <div class="nav-wrapper">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <a href="#" class="brand-logo hide-on-med-and-down">Controle de Itens de Informática</a>
    <a href="#" class="brand-logo hide-on-large-only">Bem-Vindo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Novo</a></li>
      <li><a href="#">Consultar</a></li>
      <li><a href="#">Listar Itens</a></li>
    </ul>
  </div>
</nav>


<ul class="sidenav green accent-4" id="mobile-demo">
  <li><a href="#">Novo</a></li>
  <li><a href="#">Consultar</a></li>
  <li><a href="#">Listar Itens</a></li>
</ul>

