<div>
    <h6 *ngIf="achou">Resultados para: {{conteudo}}</h6>
</div>
<div class="container">
    <div class="card-panel">
        <div class="col s12">
                <table class="striped">
                    <thead>
                      <tr>
                        <th>Nome</th>
                        <th>Marca</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Data Aquisição</th>
                        <th>Operações</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of itens">
                        <td>{{ item.nome}}</td>
                        <td>{{ item.marca | titlecase}}</td>
                        <td>{{ item.tipo | uppercase}}</td>
                        <td>{{ item.qtd }}</td>
                        <td>{{ item.data}}</td>
                        <td>
                          <button class="waves-effect waves-light btn green accent-4" (click)="editar(item)">Editar</button>
                          <button class="waves-effect waves-light btn green accent-4" (click)="apagar(item)">Apagar</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>

        </div>
    </div>
</div>
