<div>
    <h6 *ngIf="achou">Site ainda em desevolvimento, assim que terminar a busca irá trazer itens com o nome: {{conteudo}}</h6>
</div>
<div class="container">
    <div class="card-panel">
        <div class="col s12">
            <div class="row">
                <div class="col s2">
                    <p class="center-align">Nome</p>
                </div>
                <div class="col s2">
                    <p class="center-align">Marca</p>
                </div>
                <div class="col s2">
                    <p class="center-align">Tipo</p>
                </div>
                <div class="col s2">
                    <p class="center-align">Quantidade</p>
                </div>
                <div class="col s2">
                    <p class="center-align">Data Aquisição</p>
                </div>
                <div class="col s2">
                    <p class="center-align">Ações</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
