<div class="col s12 center-align">
    <h4 class="btn-large green accent-4">Novo Item</h4>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
         <div class="card-panel">
            <form>
                <div class="row">
                        <div class="center-align col s6">
                            <p class="center-align">Nome:</p>
                        </div>
                        <div class="col s6">
                            <input placeholder="Nome" id="nome" type="text" class="validate ">      
                        </div> 
                </div>
                <div class="row">
                        <div class="center-align col s6">
                            <p class="center-align">Marca:</p>
                        </div>
                        <div class="col s6">
                            <input placeholder="Marca" id="marca" type="text" class="validate ">      
                        </div> 
                </div>
                <div class="row">
                        <div class="center-align col s6">
                            <p class="center-align">Tipo:</p>
                        </div>
                        <div class="col s6">
                            <input placeholder="Tipo" id="tipo" type="text" class="validate ">      
                        </div> 
                </div>
                <div class="row">         
                        <div class="center-align col s6">
                            <p class="center-align">Quantidade:</p>
                        </div>
                        <div class="col s6">
                            <input placeholder="Quantidade" id="qtd" type="text" class="validate ">      
                        </div>  
                </div>
                <div class="row">
                        <div class="center-align col s6">
                            <p class="center-align">Data Aquisição:</p>
                        </div>
                        <div class="col s6">
                            <input placeholder="Data Aquisição" id="data" type="date" class="validate ">      
                        </div>      
                </div>
                <div class="row">
                    <div class="center-align col s6">
                        <a class="waves-effect waves-light btn green accent-4">Salvar</a>
                    </div>
                    <div class="center center-align s6">
                        <a class="waves-effect waves-light btn green accent-4">Limpar</a>
                    </div>  
                </div>
            </form>
            </div>
    </div>
    </div>
</div>